@font-face {
  font-family: mySFFont;
  src: url(SFFont.ttf);
}

html,
body {
  opacity: 1;
  animation: fadeIn 1s ease;
  margin: 0;
  padding: 0;
  font-family: mySFFont;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  background-image: url("./imgs/bg.jpg");
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-navy {
  color: #675afe;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  width: 100%;
}

::selection {
  color: #fff;
  background: #675afe;
}

form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

form p {
  font-size: 18px;
  margin-bottom: 5px;
}

form input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

form input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}

.CurrencyCalculator-wrapper {
  margin-top: 25%;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.CurrencyCalculator-wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.CurrencyCalculator-wrapper form {
  margin: 40px 0 20px 0;
}

.drop-list .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}

.fs14 {
  font-size: 14px;
}

form .exchange-rate {
  font-size: 22px;
  margin: 20px 0;
}

form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675afe;
  transition: 0.3s ease;
}

.disabled {
  background: gainsboro !important;
}

form button:hover {
  background: #4534fe;
}

form .drop-list {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.drop-list .select-box {
  display: flex;
  width: 115px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
}

.select-box img {
  max-width: 21px;
}

.select-box .dropdown-menu.show {
  margin-left: -3px;
  margin-top: 5px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.select-box .dropdown-menu {
  min-width: 7.3rem;
  overflow-x: hidden;
}

.select-box .dropdown-menu::-webkit-scrollbar {
  width: 5px;
  background: gainsboro;
}

.select-box .dropdown-menu::-webkit-scrollbar-thumb {
  width: 5px;
  background: #888;
  border-radius: 8px;
}

.select-box .dropdown-item {
  padding: 6px 12px;
}

.select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

.currency-option {
  padding: 10px;
}

.bg-whitesmoke {
  background: whitesmoke;
}

.dropdown-search {
  width: 5.9rem;
}
